#Friends {
    position: relative;
    width: 100%;
    background-image:    url('../../images/friendsofibbybg.svg');
    background-size:     100% 100%;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    /* border: red 2px solid; */
}

#quote-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 80vh;
    /*height: 660px;*/
}

#friend-pic {
    position: relative;
    width: 28%;
    height: 28%;
    max-height: 500px;
    /*height: 356px;*/
    /*left: 12%;*/
    /*top: 190px;*/

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#quote-text {
    /*position: absolute;*/
    /*width: 427.45px;*/
    /*height: 296px;*/
    /*left: 53%;*/
    /*top: 231px;*/
    margin: 10% 7% 0 7%;

    font-style: normal;
    font-weight: 500;
    font-size: 22.6965px;
    line-height: 36px;
    display: flex;
    align-items: center;

    color: #3D4741;
}

#quote-author {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 51px;
    text-align: right;
    margin-right: 10%;
    width: 100%;

    color: #000000;

}

#quote-string {
    position: absolute;
    width: 150px;
    height: 9.25px;
    right: 44%;
    top: 43%;
    z-index: 10;

    font-family: Redressed;
    font-style: normal;
    font-weight: normal;
    font-size: 30vw;
    line-height: 586px;
    display: flex;
    align-items: center;

    color: #397377;
}

.arrow-friends {
    width: 5%;
    z-index: 5;
    margin: 1%;
}

#flip-arrow {
    transform: rotate(-180deg);
}

#quote-text-container {
    background: rgba(255, 255, 255, 0.4);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 5%;
}

.friends-title {
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 250%;
    line-height: 82px;
    /* display: flex;
    align-items: center; */

    color: #1A936F;
}

.friends-title h2 {
    padding-left: 5%;

}

@media only screen and (max-width: 700px) {
    #friend-pic {
        display: none;
    }

    #quote-text-container {
        width: 90%;
    }

}