#friends-container {
    position: relative;
    width: 100%;
    height: 663px;
    border: 2px yellow solid;
    display: flex;
    flex-direction: column;
}

#swipe-container {
    /* display: flex;
    flex-direction: row; */
    /* width: 80%; */
    /* height: auto; */

}

#quote-container {
    /* height: 660px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#friend-pic {
    position: relative;
    width: 20px;
    height: 20px;
    /* left: 180px;
    top: 190px; */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#quote-text {
    position: relative;
    /* width: 427.45px;
    height: 296px; */
    /* left: 840px;
    top: 231px; */

    font-family: Hind;
    font-style: normal;
    font-weight: 500;
    font-size: 22.6965px;
    line-height: 36px;
    display: flex;
    align-items: center;

    color: #3D4741;
}

#quote-author {
    position: relative;
    width: 202px;
    height: 33.65px;
    /* left: 1145px;
    top: 529.48px; */

    font-family: Hind;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 51px;
    display: flex;
    align-items: center;

    color: #000000;
}

#quote-string {
    position: relative;
    width: 150px;
    height: 9.25px;
    /* left: 689px;
    top: 311.62px; */

    font-family: Redressed;
    font-style: normal;
    font-weight: normal;
    font-size: 500px;
    line-height: 586px;
    display: flex;
    align-items: center;

    color: #397377;
}

#arrow-left {
    position: relative;
    width: 3.5px;
    height: 0px;
    /* left: 32px;
    top: 344px; */
    z-index: 5;

    border: 6px solid rgba(74, 153, 115, 0.7);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-180deg);
}

#arrow-right {
    position: relative;
    width: 3.5px;
    height: 0px;
    /* left: 1395.5px;
    top: 344px; */
    z-index: 5;

    border: 6px solid rgba(74, 153, 115, 0.7);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.intro {
    position: relative;
    height: 190.94px;
    margin-left: 88px;

    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 82px;
    display: flex;
    align-items: center;

    color: #1A936F;
}

.swipe-arrow-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}