.title-container {
    width: 100%;
    height: 100%;
    border: 2px magenta solid;
    background-image: url("../../images/splash_ibby.jpg");
    background-size: 1398px 800px;
}

#typing-title {
    position: absolute;
    width: 44%;
    height: 47%;
    left: 6%;
    top: 28%;

    /* font-family: Kollektif; */
    font-style: normal;
    font-weight: bold;
    font-size: 12vw;

    color: #FFFFFF;

    text-shadow: 0px 3.80515px 7.61029px rgba(0, 0, 0, 0.5);

    z-index: 5;
}

#word-with-background {
    background-color: #1A936F;
}

/*@media only screen and (max-width: 900px) {*/
    /*#typing-title {*/
        /*font-size: 40px;*/
        /*left: 0;*/

    /*}*/
/*}*/

.ibby-pic {
    background-image: url("../../images/ibby_chin.jpg");
    background-size: cover;
}

.container {
    background-image: url("../../images/ibby_chin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    padding-bottom: 66%; 
    margin-top: 0;
    margin-bottom: auto;
    flex-direction: row;
    align-items: stretch;
}

.content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction    : column;
    -ms-flex-direction          : column;
    flex-direction                : column;
    -webkit-justify-content   : center; 
    justify-content               : center; 
  
    position: absolute;
    top: 0; bottom: 0; left: 30px; right: 30px;
  }

/*@media only screen and (max-width: 480px) {*/

    /*.container {*/
        /*padding-bottom: 0;*/
    /*}*/
    /*.content {*/
        /*position: relative;*/
    /*top: 0; bottom: 0; left: 0; right: 0;*/
        /*padding: 30px;*/
    /*}*/

/*}*/
.navbar-holder {
    height: 76px;
    background: rgba(27, 27, 27, 0.35);
    flex:1;
    flex-direction: row;
    display: flex;
    z-index: 15;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 31px;
    margin-right: 43px;
}
.item-bar {
    z-index: 20;
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    z-index: 20;
}
.item, .item a {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.item:hover {
    background-color: green;
    opacity: 80%;
}

.item h3 {
    font-weight: normal;
}
/* .toolbar {
    flex: 1;
    border-color: #1A936F;
    border-style: solid;
    border-width: 20px;
} */
