#values-container {
    height: 700px;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: row;
}

#why-ibby {
    font-size: 80px;
    width: 50%;
    text-align: right;
}

#why-ibby-text {
    margin-right: 100px;
}

#all-values {
    width: 50%;
}

#value-name {
    font-size: 70px;
}