#org-container {
    text-align: center;
    margin-bottom: 20px;
    background-color: #6aa84f;
}

#swipe-container {
    display: inline-block;
    height: 350px;
    width: 800px;
    background-color: #E8E8E8;
    margin: 50px;
}

#screen-container {
    width: 800px;
}

#selector-container {
    text-align: center;
    align-content: center;
}

#selector {
    border: 3px solid green;
    border-radius: 8px;
    box-shadow: #6aa84f 0px 0px 20px;
    width: 156px;
    height: 156px;
    margin: 20px;
}

#screen-title {
    background-color: green;
    margin: 0;
}

#screen-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 15px;
    margin-left: 20px;
}

#screen-description {
    width: 50%;
}

#screen-img {
    width: 250px;
    height: 250px;
}

#screen-img-container {
    width: 300px;
    height: 300px;
    position:relative;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}