.at-duke-container { 
    position: relative;
     width: 100%;
      height: 742px;
       /* border: 2px pink solid; */ 
       background-image: url('../../images/ibbyatdukebackground.svg'); 
       background-size: cover; 
    }

#selector-box {
    position: absolute;
    width: 30vw;
    height: 475px;
    left: 65vw;
    top: 147px;

    background: rgba(255, 255, 255, 0.4);
}

#selector-icon {
    width: 9vw;
    height: 9vw;
    z-index: 20;
    display: inline-block;
}

#below-selector-box {
    display: none;
    width: 90vw;
    overflow: auto;
    left: 5vw;
    position: absolute;
    top: 600px;
}

#card-inner-container {
    display: flex;
    flex-direction: row;
}

#card-container {
    position: absolute;
    width: 59vw;
    left: 2vw;
    top: 141px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#card-img-container {
    width: 47.5%;
}

#mid-gap {
    width: 5%;
}

#card-img {
    position: relative;
    width: 100%;
    /*width: 100%;*/
    /*height: 425px;*/
    /*left: 54%;*/
}

#card-text {
    display: flex;
    flex-direction: column;
    width: 47.5%;
    margin: 3vw;
}

#card-title {
    /* font-family: Kollektif; */
    margin-bottom: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;

    color: #397377;
}

#card-description {

    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #5E5E5E;
}

@media only screen and (max-width: 900px) {
    #below-selector-box {
        display: flex;
        flex-direction: row;
    }

    #selector-box {
        display: none;
    }

    #card-container {
        left: 5vw;
        width: 90vw;
    }

    #card-text {
        width: 57.5%;
    }

    #card-img-container {
        width: 37.5%;
    }

    #selector-icon-container {
        float: left;
        text-align: center;
        width: 11.25vw;
        z-index: 20;
    }
}

@media only screen and (max-width: 600px) {
    #card-img {
        width: 0;
    }

    #card-text {
        width: 97.5%;
    }

    #card-img-container {
        display: none;
    }
}

.atduke-title {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: -3%;
}