.at-duke-container { 
    position: relative;
     width: 100%;
      height: 742px;
       /* border: 2px pink solid; */ 
       background-image: url('../../images/ibbyatdukebackground.svg'); 
       background-size: cover; 
    }

#selector-box {
    position: absolute;
    width: 30vw;
    height: 425px;
    left: 65vw;
    top: 147px;

    background: rgba(255, 255, 255, 0.4);
}

#selector-icon {
    width: 9vw;
    height: 9vw;
    z-index: 20;
    display: inline-block;
}

#below-selector-box {
    display: none;
    width: 90vw;
    overflow: auto;
    left: 5vw;
    position: absolute;
    top: 600px;
}

#card-container {
    position: absolute;
    width: 59vw;
    height: 425px;
    left: 2vw;
    top: 141px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#card-img {
    position: relative;
    width: 46%;
    height: 425px;
    left: 54%;
}

#card-title {
    position: absolute;
    width: 327px;
    height: 60px;
    left: 5%;
    top: 41px;
    /* font-family: Kollektif; */
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;

    color: #397377;
}

#card-description {
    position: absolute;
    width: 40%;
    height: 235px;
    left: 6.3%;
    top: 107px;

    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #5E5E5E;
}

@media only screen and (max-width: 900px) {
    #below-selector-box {
        display: flex;
        flex-direction: row;
    }

    #selector-box {
        display: none;
    }

    #card-container {
        left: 5vw;
        width: 90vw;
    }

    #card-img {
        width: 46%;
        left: 54%;
    }

    #selector-icon-container {
        float: left;
        text-align: center;
        width: 11.25vw;
        z-index: 20;
    }
}

@media only screen and (max-width: 600px) {
    #card-img {
        width: 0;
    }

    #card-description {
        width: 90%;
    }
}