.at-duke-container {
    position: relative;
    width: 1989px;
    height: 742px;
    border: 2px pink solid;
}

#selector-box {
    position: absolute;
    width: 408px;
    height: 425px;
    left: 977px;
    top: 147px;

    background: rgba(255, 255, 255, 0.4);
}

#selector-icon {
    width: 88px;
    height: 88px;
}

#card-container {
    position: absolute;
    width: 886px;
    height: 425px;
    left: 32px;
    top: 141px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#card-img {
    position: relative;
    width: 423px;
    height: 425px;
    left: 463px;
}

#card-title {
    position: absolute;
    width: 327px;
    height: 60px;
    left: 43px;
    top: 41px;
    font-family: Kollektif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;

    color: #397377;
}

#card-description {
    position: absolute;
    width: 365px;
    height: 235px;
    left: 57px;
    top: 107px;

    font-family: Kollektif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #5E5E5E;
}