.world-container {
    width: 100%;
    height: 646px;
    display: flex;
    flex-direction: column;
    /* border: 2px firebrick solid; */
    /* background-image: url("../../images/world_map.PNG");
    background-size: 1440px 541px; */
}

.map-container {
    width: 100%;
    height: 525px;
    background-image:    url('../../images/Map.svg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

#world-title {
    position: relative;
    width: 100%;
    height: 121px;

    /* font-family: Kollektif; */
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 82px;
    display: flex;
    align-items: center;

    color: #1A936F;
}

.intro {
    background: #F5F5F5;

}

.intro h2 {
    padding-left: 50px;
}


#pushpin {
    position: relative;
    width: 50px;
    height: 50px;
}

.face {
    transition: all .2s ease-in-out;
}

.face:hover {
    transform: scale(1.5) translateY(-12.5%);
}

#tooltip-card {
    width: 274px;
    height: 205px;

    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.custom-tooltip {
    padding: 0;
    border-radius: 5px;
}

#tooltip-title {
    position: relative;
    width: 83px;
    height: 30px;
    left: 11px;
    top: 9px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19.7647px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #000000;
}

#tooltip-description {
    position: absolute;
    width: 118px;
    height: 158px;
    left: 11px;
    top: 42px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #848484;
}

#tooltip-image {
    position: absolute;
    width: 128px;
    height: 187px;
    left: 137px;
    top: 9px;

    border-radius: 5px;
}