#title {
    /* background-color: #27b84d; */
    background-image: url('../../images/splash_ibby.jpg');
    height: 900px;
    background-size: cover;
}

#ibby {
    font-size: 200px;
    font-family: 'roboto';
    margin: 0;
    text-align: center;
    margin-left: -100px;
    color: white;
}

#yt {
    font-size: 100px;
    font-family: 'roboto';
    margin: 0;
    text-align: center;
    margin-left: 150px;
    color: white;
}

#first-image {
    position: absolute;
    bottom: 30px;
    left: 20px;
    width: 200px;
    height: 300px;
}

#values {
    position: absolute;
    bottom: 30px;
    right: 80px;
    font-size: 40px;
}

#header {
    background: url('../../images/splash_ibby.jpg') repeat scroll center center / cover;
    height: 100vh;
    width: 100%;
    /* margin-top: 70px; */
    /* margin-top: 70px; */
  }
  
  
  #header .header-content {
    height: 100vh;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .header-content h1 {
    font-family: 'Work Sans', sans-serif;
    /* font-family: 'Avenir-next'; */
    font-size: 4.5em;
    font-weight: 400;
    margin-bottom: 200px;
    color: #fff;
  }
  
  .header-content p {
    font-size: 13px;
    letter-spacing: 5px;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
  }
  
  .header-content .list-social li {
    float: left;
    margin-right: 20px;
  }
  
  .header-content .list-social li i {
    color: #fff;
    font-size: 15px;
  }

  #ibbytext {
      color: #6aa84f
  }
  .strokeme {
    color: black;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  }
