.about-container {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.white-area {
    width: 42%;
    height: 598px;
    display: flex;
    flex-direction: column;
}

.beige-area {
    background: #F5F5F5;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-ibby {


    /* font-family: Kollektif; */
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    display: none;

    color: #1A936F;

    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

#text-container {
    /* width: 425px;
    height: 430px;
    left: 775px;
    top: 136px; */
    width: 55%;
    height: auto;
    margin-top: 5%;
    /* left: 875px;
    right: 800px;
    top: 910px; */

    /* font-family: Kollektif; */
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    color: #5E5E5E;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.row2 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    /* right: 100px;
    bottom: 50px; */
}

#ibby-cutout {
    position: absolute;
    /*height: 70%;*/
    /*width: auto;*/
    left: 5%;
    top: 50px;
    width: 55%;
    /* width: 691px;
    height: 543px; */
    /*transform: matrix(-1, 0, 0, 1, 0, 0);*/
}

@media only screen and (max-width: 800px) {
    #ibby-cutout {
        display: none;
    }

    .white-area {
        display: none;
    }

    .beige-area {
        width: 95%;
        margin: auto;
    }

    #text-container {
        width: 90%;
    }

    #about-ibby {
        display: inline-block;
        /*display: inline?-block;*/
    }
}
