#team-container {
    position: relative;
    width: 100%;
    /* border: 2px purple solid; */
}

#team-title {
    position: absolute;
    width: 997px;
    height: 227px;
    left: 84px;
    top: 0;

    /* font-family: Poppins; */
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 102px;
    display: flex;
    align-items: center;

    color: #1A936F;
}

#arrow-left {
    position: absolute;
    width: 3.5px;
    height: 0px;
    left: 3vw;
    top: 50%;
    z-index: 5;

    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#arrow-right {
    position: absolute;
    width: 3.5px;
    height: 0px;
    left: 97vw;
    top: 56%;
    z-index: 5;

    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-180deg);

}

#photo-icons {
    position: relative;
    width: 88vw;
    height: 40vw;
    left: 6vw;
    top: 210px;
    overflow: visible;

    /* box-shadow: 0px 3.60496px 3.60496px rgba(0, 0, 0, 0.25); */
}

#big-photo-image {
    width: 12.53vw;
    height: 12.53vw;
    border-radius: 50%;
    border: 3px #397377 solid;
}

#small-photo-image {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 3px #397377 solid;
}

.photo-row {
    position: absolute;
    top: 10px;
}

.member-name {
    position: absolute;
    width: 171.29px;
    height: 40.26px;

    /* font-family: Kollektif; */
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #5E5E5E;
}

#small-member-name {
    font-size: 2.5vw;
}

.member-role {
    position: absolute;
    width: 171.29px;
    height: 40.26px;

    /* font-family: Kollektif; */
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #B0B0B0;

}

#small-member-role {
    font-size: 2.5vw;
}

#swipe-container {
    height: 60vw;
    overflow: scroll;
}

#swipe-inner-container {
    height: 62vw;
}

@media only screen and (max-width: 1200px) {
    #swipe-inner-container {
        height: calc(200px + 67vw);
    }

    #swipe-container {
        height: calc(200px + 67vw);
    }

    #photo-icons {
        height: 60vw;
    }
}

@media only screen and (max-width: 800px) {
    #swipe-inner-container {
        height: calc(300px + 93vw);
    }

    #swipe-container {
        height: calc(300px + 93vw);
    }

    #photo-icons {
        height: calc(102vw);
    }
}