#WhyYT {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#left-background {
    background-color: #f5f5f5;
    width: 52%;
    height: 598px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    /* justify-content: flex-start; */
}

.whyyt {
    /* position: absolute; */
    /* width: 40%; */
    /* margin-left: -200px; */
    height: 100%;
    width: 100%;

}

.value-title {
    position: relative;
    /* height: 105px;
    left: 729px; */

    /* font-family: Kollektif; */
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 65px;

    color: #1A936F;
}

#community-title {
    /* top: 34px; */
}

#opportunity-title {
    /* top: 241px; */
}

#experience-title {
    /* top: 442px; */
}

.value-description {

    position: relative;
    /* width: 531px;
    height: 98px;
    left: 846px; */

    /* font-family: Kollektif; */
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    color: #5E5E5E;

}

#description {
    width: 60%;
    height: auto; 
    padding-top: 20px;
}

.description-item {
    /*height: 98px;*/
}

.three-container {
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: -3.5%;
    justify-content: space-evenly;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    #left-background {
        display: none;
    }

    .three-container {
        margin-left: 10px;
    }

    #description {
        width: 80%;
        padding-top: 0;
        padding-bottom: 10px;
    }

    #why-container {
        margin-bottom: 30px;
    }

    .value-title {
        font-size: 6vw;
    }

    .value-description {
        line-height: unset;
    }
}

